@model List<News>


<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="~/images/@item.image" class="card-img-top" style="height: 200px; object-fit: cover;" />
                <div class="card-body">

                    <h5 class="card-title">
                        <a asp-action="Details" asp-controller="News" asp-route-id="@item.Id" class="text-dark">
                            @item.Title
                        </a>
                    </h5>
                    <p class="card-text">@item.Content?.Substring(0, Math.Min(150, item.Content.Length))...</p>
                    @Html.Partial("_InteractionButtons",item)

                </div>
            </div>
        </div>
    }
</div>
