@model List<FND.Models.News>

<div class="container mt-4">
    <div class="row justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-6 mb-4">
                <div class="card d-flex flex-row" style="height: 150px;">
                    <img src="~/images/@item.image" class="img-fluid rounded-start" alt="خبر" style="width: 50px; height: 50%; object-fit: cover;">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div>
                            <h5 class="card-title">@item.Title</h5>
                            <p class="card-text small text-muted">
                             @(item.Content != null && item.Content.Length > 150 ? item.Content.Substring(0, 150) + "..." : item.Content)
                            </p>
                        </div>
                        <a href="@Url.Action("Details", "News", new { id = item.Id })" class="btn btn-sm btn-outline-primary mt-2 align-self-start">اقرأ المزيد</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
